@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #eff6f9;
}

progress::-webkit-progress-bar {
  background-color: #D6DBDC;
}

progress::-webkit-progress-value {
  border-radius: 2.5px;

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  canvas {
    /* resolving chartjs responsive issue https://github.com/chartjs/Chart.js/issues/11005 */
    width: 100% !important;
    height: 100% !important;
  }
}
